* text=auto
*.css text eol=lf
*.html text eol=lf
*.js text eol=lf
*.less text eol=lf
*.mjs text eol=lf
*.sh text eol=lf
*.svg text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.txt text eol=lf
*.vue text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
*.md text eol=lf
*.xlsx binary
*.zip binary
*.tgz binary
*.gz binary
